In [2]:
# 按照年龄排序并显示出来
import pandas as pd
sc = pd.read_csv('scientists.csv')
sc

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing         NaN  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [3]:
sc.sort_values('Age')

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
6           Alan Turing         NaN  1954-06-07   41  Computer Scientist
5             John Snow  1813-03-15  1858-06-16   45           Physician
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse

In [5]:
# 创建26*26的DataFrame，行标签为26个大写字母，列标签为26个数字。内容为随机数
import numpy as np
array = np.random.randint(0, 100, (26, 26))
list_mix = []
for i in range(97, 123):
    list_mix.append(chr(i))
list_max = []
for i in range(65, 91):
    list_max.append(chr(i))

my_Frame = pd.DataFrame(array, index = list_max, columns = list_mix)

my_Frame

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
A,23,44,14,36,86,47,47,24,39,41,...,0,19,53,86,11,89,98,42,26,36
B,70,40,66,22,69,33,88,56,76,5,...,10,70,62,16,15,82,3,32,51,94
C,36,37,76,55,12,84,90,24,98,74,...,67,77,60,53,51,49,8,9,32,93
D,53,35,97,94,89,63,72,16,14,93,...,49,73,96,32,83,55,45,80,54,70
E,3,95,88,95,73,80,92,24,52,92,...,66,90,7,6,8,79,58,71,77,38
F,5,26,35,70,93,82,22,90,10,30,...,71,8,61,34,2,30,14,47,72,55
G,27,26,20,17,29,64,36,29,93,32,...,84,92,22,60,43,60,42,41,20,75
H,32,49,36,88,18,24,2,69,76,24,...,73,93,72,17,75,74,69,99,76,86
I,6,98,43,27,43,63,86,12,8,93,...,54,59,59,95,21,0,60,26,30,63
J,83,73,93,21,97,71,50,73,35,12,...,97,50,63,9,95,88,84,15,30,39
K,29,30,15,19,20,26,70,67,30,62,...,75,40,9,77,65,15,24,25,98,62
L,39,23,94,69,82,80,24,82,38,19,...,40,73,39,3,71,47,57,27,10,39
M,21,49,46,6,81,63,41,68,82,32,...,38,86,56,51,30,81,41,9,57,90
N,54,96,35,88,62,91,66,69,28,53,...,86,68,32,57,36,63,43,68,41,39
O,22,43,66,44,82,68,5,43,55,59,...,39,93,51,28,58,4,25,34,1,41
P,85,93,57,5,27,60,79,4,78,93,...,8,2,92,97,61,61,49,70,39,9
Q,25,61,3,23,59,23,68,44,97,13,...,11,49,85,26,81,46,95,2,76,79
R,64,52,44,44,31,35,28,15,96,92,...,30,50,45,52,54,57,60,48,52,0
S,90,25,37,17,63,29,8,57,98,24,...,95,99,28,80,71,25,28,2,92,23
T,32,70,85,42,19,31,88,57,45,0,...,57,22,46,79,93,37,79,53,51,29
U,94,12,80,84,62,57,93,26,20,73,...,20,66,7,55,84,5,43,17,17,33
V,6,91,28,36,87,18,27,50,92,33,...,59,94,56,26,95,38,82,5,68,76
W,59,88,9,9,86,75,38,13,43,12,...,45,86,79,10,71,16,89,85,43,78
X,24,14,70,8,60,95,54,97,24,56,...,84,48,1,57,65,20,18,17,79,61
Y,4,0,75,92,58,34,55,79,87,63,...,59,32,51,10,91,71,34,87,7,66
Z,49,50,24,73,94,36,69,55,37,67,...,88,74,46,85,66,83,72,93,64,60